%div.comment.clearfix
  .panel.panel-info
    %p.comment_name.panel-heading= comment.name
    %p.comment_body.panel-body= comment.body

    -# = button_to 'Delete', item_path(@item.comments.itself), :method => :delete, :confirm => 'Are you sure?', class:"btn btn-danger"