.div.container#welcome

  %h1.div.message.alert.alert-info.text-center#welcome_title
        
    %img.img-responsive{:alt => "", :src => "/assets/world-technology-1.jpg"}
    %div
      %br
      That's ≡Listed
      %br
        
      %p.div.text-center
        %br
        %a.button.btn.btn-primary.btn-lg{:type => "button", :href => items_path} Enter The World Of Listed
        %br
        %br
    %img.img-responsive{:alt => "", :src => "/assets/world-technology-2.jpg"}
      
      